# A .gitattributes file
# See this medium post for ideas and explanation: https://medium.com/@pablorsk/be-a-git-ninja-the-gitattributes-file-e58c07c9e915

rosevomit/projectdata/USCensusNamesFirstFemale.txt linguist-vendored
rosevomit/projectdata/USCensusNamesFirstMale.txt linguist-vendored
rosevomit/projectdata/USCensusNamesLast.txt linguist-vendored
rosevomit/projectdata/1990-US-Census/* linguist-vendored